<head>
  <style>
  #water {
     height: 58px;
     width: 58px;
     background-color: transparent;
     float: left;
     border: 1px dotted red;
   }
  </style>
</head>

<body>

<h2> Welcome to the board, <%= @name %> </h2>
<%= @board.display_board %>

</body>
